/* Theme classes for body element */
body.light {
    background-color: white;
    color: black;
}

body.light:hover {
    background-color: lightgray;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark:hover {
    background-color: darkgray;
}

body.custom {
    background-color: var(--custom-bg, white);
    color: var(--custom-fg, black);
}